body
{
	background-color: #ffffff;
    margin: 0px;
	font-family: Calibri;
}

#barmain
{
    background-color: #d53138;
    position: fixed;
    height: auto;
    width: 100%;
}
#barmain ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
	float: left;
    width: 100%;
}
#barmain .button
{
	float: left;
    height: 40px;
    width: auto;
}

#context
{
	width: 80%;
	height: auto;
	padding: auto;
	padding-top: 40px;
	text-align: left;
}

#context #header
{
	text-align: center;
	min-height: 150px;
	height: auto;
	width: auto;
}

#context #footer
{
	position:relative;
	min-height: 150px;
	margin-top: 100%;
}

.button
{
	text-align: center;
	font-family: Arial;
}
.button a
{
	background-color: #d53138;
	display: block;
    color: white;
    text-decoration: none;
	padding: 0px 20px 0px 20px;
	height: 100%;
	line-height:40px;
}
.button:hover a
{
    background-color: #ff7c03;
	color: white;
}
.button a img
{
	vertical-align: middle;
}
.edit
{

}